/*
           -------------------------------------------------------------------
           Page prettiness
           -------------------------------------------------------------------
       */
body {
    font-family: sans-serif;
    line-height: 1.5;
    color: #333;
    background: #ddd;
    margin: 2em;
}